
# Sequencer configuration (optional)
sequencer:
    # sequencer name usually is 4 or so symbols. It is put into every sequencer transaction for tracking purposes
  name: <mandatory name>
    # start sequencer yes/no
  enable: false
    # chain ChainID of the sequencer
    # Sequencer chain is created by 'proxi node mkchain' command
    # All chains controlled by the wallet can be displayed by 'proxi node mychains'
  chain_id: <sequencer id hex encoded>
  # path to the controller key file (JSON keystore format, created by 'proxi util key generate')
  controller_key_file: proxima.key
  # sequencer pace. Distance in ticks between two subsequent sequencer transactions
  # cannot be less than the sequencer pace value set by the ledger
  pace: 12
  # maximum tag-along inputs allowed in the sequencer transaction (absolute maximum value is 254)
  max_tag_along_inputs: 100
