# Proxi wallet profile

# default sequencer ID is used when own or tag-along sequencer is not specified
default_sequencer_id: {{.BootstrapSeqID}}

wallet:
    key_file: {{.KeyFile}}
    spender_id: {{.SpenderID}}
    # sequencer_id is the sequencer ID controlled by the private key of the wallet.
    # The controller wallet can withdraw tokens from the sequencer chain with command 'proxi node seq withdraw'
    # Default is the bootstrap sequencer ID; change if you control a different sequencer
    sequencer_id: {{.BootstrapSeqID}}
api:
    endpoint: http://127.0.0.1:8000

# alternative access points (testnet):
#    endpoint: http://63.250.56.190:8001
#    endpoint: http://113.30.191.219:8001
#    endpoint: http://83.229.84.197:8001
#    endpoint: http://5.180.181.103:8001

tag_along:
    # tag-along fee amount and ID of the tag-along sequencer. Currently only one tag-along sequencer is supported
    # If not specified, the default sequencer ID will be used
    fee: 1
# uncomment the line and specify your preferred sequencer
#    sequencer_id: <tag-along sequencer ID>

# provides parameters for 'proxi node getfunds' command
faucet:
    port:  9500
    host:  113.30.191.219

# provides parameters for 'proxi node spam' command
# 'Spammer' is a testing tool, rarely used in every day activity
# The spammer sends in a loop bundles of transactions to the target sigLock address via specified tag-along sequencer
# Before sending next bundle, the spammer waits for the finality of the previous according to the provided criterion
spammer:
    bundle_size: 5
    output_amount: 1000
    pace: 25
    tag_along:
        fee: 1
        # <sequencer ID hex encoded> is tag-along sequencer id for the tip transaction in the bundle
        # If not specified, the default sequencer ID will be used
        # sequencer_id: <sequencer id hex encoded>
    # target address
    target: <target lock in EasyFL format>
    inclusion_timeout_sec: 20
    finality_slots: 1
